<div class="main">
  <div class="parent-container">
    <h3>Parent Component</h3>
    <div class="input">
      <label>Use this input-field to change in child : </label>
      <input type="text" placeholder="write here" [formControl]="inputField" />
    </div>
    <div><h4>In below field you will find change</h4></div>
    <div class="child-value">{{ valueComingFromChild }}</div>
  </div>

  <div class="child-container">
    <h3>Child Component</h3>
    <app-child
      [valueComingFromParent]="valueComingFromParent"
      (myEvent)="parentMethod($event)"
    ></app-child>
  </div>
</div>
